/**
 * Define variables here
 */

$textColor: #ccc;
$facebookBlue: #3B5998;
$favYellow: #ffd700;

/* Plateform */
$ps4 : #06f;
$ps3 : #009;
$xboxone : #117d10;
$xbox360 : #8ac501;
$pc : #444;
$wii : #903;
$wiiu : #5910ab;
$autre : #000;