/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/

@import "_variables";
@import "_fonts";

/**
 * LAYOUT
 */

@import "layout/layout";

/**
 * MENU
 */

@import "menu/menu";

/**
 * VIEWS
 */

@import "views/home";
@import "views/map";
@import "ion-google-places";
 .has-custom-header {
  top: 80px;
}
.hero.no-header {
  text-align: center;
  margin: 4rem 0;
  img {
    width: 30%;
  }
}
#imgGame {
  margin: 0 2%;
}
.fav {
  color: $favYellow;
}
#autocomplete {
  margin: 0;
  opacity: .85;
  background-color: #D3D3D3;
}
#login button {
  line-height: 2rem;
}
.ancmtList,
.ancmtFav,
.myAncmt{
  .card {
    border-style: solid;
    border-left-width: 5px;
  }
  .playstation3 {
    border-left-color: $ps3;
  }
  .playstation4 {
    border-left-color: $ps4;
  }
  .xboxone {
    border-left-color: $xboxone;
  }
  .xbox360 {
    border-left-color: $xbox360;
  }
  .pc {
    border-left-color: $pc;
  }
  .wii {
    border-left-color: $wii;
  }
  .wiiu {
    border-left-color: $wiiu;
  }
  .autre {
    border-left-color: $autre;
  }
}
