/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/

@import "_variables";
@import "_fonts";

/**
 * LAYOUT
 */

@import "layout/layout";

/**
 * MENU
 */

@import "menu/menu";

/**
 * VIEWS
 */

@import "views/home";
@import "views/map";
@import "ion-google-places";
.has-custom-header {
  top: 70px;
}
.bar.bar-positive {
  background-color: $primary-color;
  border-color: $primary-color;
}
#login {
  background-image: url(../images/bg-home.png);
  background-position: center;
  background-size: auto 65%;
}
#login button {
  line-height: 2.5rem;
  color: #fff;
  font-size: 20px;
}
.hero.no-header {
  text-align: center;
  margin: 4rem 0;
  img {
    width: 30%;
  }
}
#imgGame {
  margin: 0 2%;
}
#autocomplete {
  margin: 0;
  opacity: .85;
  background-color: #E0E1E0;
  li {
    background-color: transparent;
    border-color: #fff;
    font-size: 13px;
  }
}
.tabs-icon-left a {
  line-height: 3rem;
  font-size: 12px !important;
}
.ancmt,
.ancmtFav,
.myAncmt {
  .card {
    border-style: solid;
    border-left-width: 5px;
  }
  .playstation3 {
    border-left-color: $ps3;
  }
  .playstation4 {
    border-left-color: $ps4;
  }
  .xboxone {
    border-left-color: $xboxone;
  }
  .xbox360 {
    border-left-color: $xbox360;
  }
  .pc {
    border-left-color: $pc;
  }
  .wii {
    border-left-color: $wii;
  }
  .wiiu {
    border-left-color: $wiiu;
  }
  .autre {
    border-left-color: $autre;
  }
}
.item h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  height: 16px;
}
.item-thumbnail-left .item-text-wrap {
  font-size: 12px;
}
.list .input-label {
  font-weight: bold;
}
.title-noData {
  text-align: center;
  padding: 10% 0;
}

.button-positive {
  background-color:$accent-color;
}