<ion-view> 
 <ion-content id="login" class="padding">
		<div class="ionic login " style="">
	        <div class="hero no-header flat">
	            <div class="content">
	                <img src="images/icon.png" style="width:30%; margin:0 auto">
	                <h1>GameSwap</h1>
	            </div>
	        </div>
	        <div>
	            <button class="button button-block button-assertive light-bg icon-left ion-social-google waves-effect waves-button waves-light" ng-click="ctrl.loginGoogle()">Google+</button>
	            <button class="button button-block button-positive light-bg icon-left ion-social-facebook waves-effect waves-button waves-light" ng-click="ctrl.loginFacebook()">Facebook</button>
	        </div>
        </div>
    </ion-content>
</ion-view>