<ion-view view-title="Offres autour de moi" class="ancmt">
  <ion-nav-buttons side="primary">
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="ctrl.doRefresh()">
    </ion-refresher>

    <div class="list card">

      <div class="item item-avatar">
        <img src="{{ctrl.author.picture}}">
        <h2>{{ctrl.ancmt.title}}</h2>
        <p>{{ctrl.ancmt.game}}, {{ctrl.ancmt.platform}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{ctrl.ancmt.img}}">
        <p>
          {{ctrl.ancmt.description}}
        </p>
      </div>

      <button class="button icon-left button-full ion-paper-airplane button-positive" ng-click="ctrl.sendMail()">Contacter {{ctrl.author.name.first}}</button>
    </div>



  </ion-content>

</ion-view>


