<ion-view view-title="Annonces" class="ancmt" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-search" ng-click="ctrl.showFilterBar()"></button>
    <button class="button button-icon ion-android-add" ng-click="ctrl.createAncmt()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="Tirer pour rafraîchir" on-refresh="ctrl.doRefresh()">
    </ion-refresher>
    <ion-list>

      <a class="item item-thumbnail-left ancmt-item item-button-right {{ancmt.plateform | nospace | lowercase}} {{ ancmt.creatorId != ctrl.user._id ? '' : 'bg-dark'}}" ui-sref="app.ancmt({id: '{{ancmt.id}}'})" ng-repeat="ancmt in ctrl.filteredAncmts">
        <img ng-src="" style="max-width:80px;max-height:100%; height:80px; overflow:hidden; background-image: url('{{ancmt.img}}'); background-size:cover; background-position:center center;" />
        <h2>{{ancmt.title}}</h2>
        <p>{{ ancmt.description }}</p>
         <div class="buttons">
              <button ng-show="{{ancmt.creatorId != ctrl.user._id }}" class="button button-light" stop-event ng-click="ctrl.setFavorisAnnoncement($event, '{{ancmt.id}}');">
                  <i class="icon ion-star" ng-class="ctrl.checkIfFavoris('{{ancmt.id}}') ? 'energized': ''"></i>
              </button>
          </div>
        <span class="ancmtDate" am-time-ago="ancmt.date"></span>  
      </a>
    </ion-list>
  </ion-content>

</ion-view>


