<ion-view view-title="Annoncement Creation">
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">GameSwap</h1>
    </ion-header-bar>

    <ion-content>

        <div class="list">
            <!-- TODO: use stacked label (better look) -->
            <!-- <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John">
              </label> -->
        	<label class="item item-input">
        		<input type="text" placeholder="title" ng-model="ctrl.ancmt.title">
        	</label>
            <label class="item item-input item-select">
                <div class="input-label">
                  Plateforme
                </div>
                <select ng-model="ctrl.ancmt.platform">
                    <option ng-repeat="platform in ctrl.platform">{{platform}}</option>
                </select>
            </label>
        	<label class="item item-input">
                 <input type="search" placeholder="Search" ng-change="ctrl.autocomplete(ctrl.ancmt.game)" ng-model="ctrl.ancmt.game">
        	</label>
        	<div class="list">
                <li class="item" ng-repeat="game in ctrl.gamesList | limitTo: 5">{{game}}</li>
            </div>
        	<label class="item item-input">
        		<textarea placeholder="Description" ng-model="ctrl.ancmt.description"></textarea>
        	</label>
           <button class="button button-full button-assertive" ng-click="ctrl.takePicture();">
              Prendre une photo de mon jeu
            </button>
            <img src="" id="imgGame" ng-model="ctrl.ancmt.photo"/>
            <button class="button button-balanced" ng-click="ctrl.validateAncmt();">
              Valider
            </button>
        </div>

    </ion-content>

</ion-view>
