<ion-view view-title="Créer une offre">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="card">
      <form name="annoncementForm" ng-submit="ctrl.validateAncmt(annoncementForm.$valid)" novalidate>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Titre de l'annonce</span>
            <input type="text" name="title" placeholder="Titre" ng-model="ctrl.ancmt.title" required>
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Plateforme</span>
            <select ng-model="ctrl.ancmt.plateform" required>
              <option ng-repeat="plateform in ctrl.plateform">{{plateform}}</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Titre du jeu</span>
            <input type="search" placeholder="Search" ng-change="ctrl.autocomplete(ctrl.ancmt.game)" ng-model="ctrl.ancmt.game" required>
          </label>
          <div id="autocomplete" class="list">
            <li class="item" ng-click="ctrl.clickListAutocomplete(game)" ng-repeat="game in ctrl.gamesList | limitTo: 5">{{game}}</li>
          </div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <textarea placeholder="Description" ng-model="ctrl.ancmt.description" required></textarea>
          </label>
          <button type='button' class="button button-full button-assertive" ng-click="ctrl.takePicture();">
            Prendre une photo de mon jeu
          </button>
          <img id="imgGame" width="96%"/>
          <button class="button button-balanced button-full margin-vertical" type="submit" ng-disabled="annoncementForm.$invalid">
            Valider
          </button>
        </div>
      </form>
    </div>
  </ion-content>

</ion-view>



