<ion-view view-title="Créer une offre">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>
    <form name="annoncementForm" ng-submit="ctrl.validateAncmt(annoncementForm.$valid)" novalidate>
      <div class="card">
        <div class="list">
          <div class="item" id="imgGame" style="background-image: url('images/bg-home.png'); background-size:cover; height:400px;">
               <button class="button button-assertive button-outline icon-left ion-ios-camera-outline" ng-click="ctrl.takePicture()">
                   Prendre une photo  
               </button>
          </div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Titre de l'annonce</span>
            <input type="text" name="title" placeholder="Titre" ng-model="ctrl.ancmt.title" required>
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Plateforme</span>
            <select ng-model="ctrl.ancmt.plateform" required>
              <option ng-repeat="plateform in ctrl.plateform">{{plateform}}</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Titre du jeu</span>
            <input type="search" placeholder="Search" ng-change="ctrl.autocomplete(ctrl.ancmt.game)" ng-model="ctrl.ancmt.game" required>
          </label>
          <div id="autocomplete" class="list">
            <li class="item" ng-click="ctrl.clickListAutocomplete(game)" ng-repeat="game in ctrl.gamesList | limitTo: 5">{{game}}</li>
          </div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <textarea placeholder="Description" ng-model="ctrl.ancmt.description" required></textarea>
          </label>
        </div>
      </div>
      <button class="button button-positive button-full margin-vertical" type="submit" ng-disabled="annoncementForm.$invalid">
            {{ annoncementForm.$valid ? 'Valider' : 'Formulaire incomplet'}}
      </button>

    </form>
  </ion-content>

</ion-view>



