<ion-view view-title="Mes Annonces" class="ancmt" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>

    <ion-list can-swipe="true">
      <ion-item class="item item-thumbnail-left ancmt-item {{ancmt.plateform | nospace | lowercase}}" ui-sref="app.ancmt({id: '{{ancmt.id}}'})" ng-repeat="ancmt in ctrl.myAncmts" ngShow="ancmt.id">
        <img ng-src="{{ancmt.img}}" />
        <h2>{{ancmt.title}}</h2>
        <p>{{ ancmt.description }}</p>
        <!-- <span class="ancmtDate" am-time-ago="ancmt.date"></span>  -->
        <ion-option-button class="button-assertive"
                       ng-click="ctrl.confirmDelete(ancmt._id)">
        Supprimer
    </ion-option-button>
      </ion-item>

    </ion-list>
    <div class="title-noData item item-divider" ng-show="ctrl.noData">
        <p>Vous n'avez pas d'annonce.</p>
    </div>
    
  </ion-content>

</ion-view>



