<ion-view view-title="Event Creation">
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">GameSwap</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">
		
			<!-- TODO : use stacked label (better look) -->
			<!-- <label class="item item-input item-stacked-label">
			    <span class="input-label">First Name</span>
			    <input type="text" placeholder="John">
			  </label> -->
        	<label class="item item-input">
        		<input type="text" placeholder="title" ng-model="ctrl.event.title">
        	</label>
        	<label class="item item-input">
                <input name="states" id="states" type="text" placeholder="enter a game" typeahead="game for game in gamesList | filter:$viewValue | limitTo:8" class="form-control" ng-model="ctrl.event.game">
        	</label>
            <label class="item item-input item-select">
                <div class="input-label">
                  Plateforme
                </div>
                <select ng-model="ctrl.event.platform">
                    <option selected>Playstation 4</option>
                    <option>Xbox one</option>
                    <option>PC</option>
                    <option>Wii U</option>
                </select>
            </label>
        	<label class="item item-input">
        		<textarea placeholder="Description" ng-model="ctrl.event.description"></textarea>
        	</label>
        	<label class="item item-input">
        		<input type="text" placeholder="adresse" ng-model="ctrl.event.title">
        	</label>

            <button class="button button-balanced" ng-click="ctrl.validateAncmt();">
              Valider
            </button>
        </div>
    </ion-content>

</ion-view>
