<ion-view view-title="Annoncements around me" class="ancmt">
<ion-header-bar align-title="center" class="bar-positive">
<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
<h1 class="title">GameSwap</h1>
</ion-header-bar>

<ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="ctrl.doRefresh()">
    </ion-refresher>
    <ion-list>
    
        <div class="card" ng-repeat="event in ctrl.events">
          <div class="item item-divider">
            <h2>{{event.title}}</h2>
          </div>
          <div class="item item-text-wrap">
            {{ event.description }}
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                {{ ancmt.like || 0 }}
                Likes
            </a>
            <a class="tab-item" ui-sref="app.ancmt({id: '{{ancmt.id}}' })">
              <i class="icon ion-eye"></i>
              Voir
            </a>
            </div>
        </div>

    </ion-list>
</ion-content>

</ion-view>

