<ion-view view-title="Evenements" class="event" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <button class="button button-icon icon ion-map" ng-click="ctrl.showEventsMap();"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-search" ng-click="ctrl.showFilterBar()"></button>
    <button class="button button-icon ion-android-add" ng-click="ctrl.createEvent()"></button>
  </ion-nav-buttons> 

  <ion-content>
      <ion-refresher
      pulling-text="Tirer pour rafraîchir"
      on-refresh="ctrl.doRefresh()">
      </ion-refresher>
      <ion-list>
        <div class="list card" ng-repeat="event in ctrl.filteredEvents"> 
          <div class="item item-avatar">
            <img ng-src="{{event.userPic}}">
            <h2>{{event.title}}</h2>
            <p>{{ event.date | amDateFormat:'DD.MM.YYYY' }} (<span am-time-ago="event.date"></span>)</p>
          </div>

          <div class="item item-body">
            <img class="full-image" ng-src="{{event.poster}}">
            <strong>{{event.game}} / {{event.plateform}}</strong>
            <p>
              {{event.description}}
            </p>
          </div>
          <a class="item item-icon-right assertive" ui-sref="app.event({id: '{{event._id}}' })" style="text-align:right;">
            <i class="icon ion-chevron-right"></i>
             Voir la suite
          </a>
        </div>
      </ion-list>
  </ion-content>

</ion-view>

