<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>

        <ion-nav-view name="viewContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="side-menu">

        <ion-header-bar align-title="center" class="bar-positive">
            <h1 class="title">Menu</h1>
        </ion-header-bar>

        <ion-content class="has-header">
            <div class="list">
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home">
                    <i class="icon ion-ios-home-outline"></i>
                    Accueil
                </a>
                <div class="section">
                    ECHANGE
                </div>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.ancmts">
                    <i class="icon ion-ios-loop"></i>
                    Proposer un échange
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.ancmts">
                    <i class="icon ion-ios-cart-outline"></i>
                    Offres
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.ancmts">
                    <i class="icon ion-ios-folder-outline"></i>
                    Mes annonces
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.ancmts">
                    <i class="icon ion-ios-flag-outline"></i>
                    Annonces suivies
                </a>
                <div class="section">
                    EVENEMENTS
                </div>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.ancmts">
                    <i class="icon ion-ios-location-outline"></i>
                    Pres de chez moi
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.createEvent">
                    <i class="icon ion-ios-world-outline"></i>
                    Créer un évenement
                </a>
                <div class="section">
                    MON COMPTE
                </div>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.ancmts">
                    <i class="icon ion-power"></i>
                    Déconnexion
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
