<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="viewContent">
        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="side-menu">

        <!-- <ion-header-bar align-title="center"> -->
            <div class="item item-avatar" href="#">
              <img ng-src="{{userPic}}">
              <h2>Bonjour <strong>{{userName}}</strong> !</h2>
            </div>
        <!-- </ion-header-bar> -->

        <ion-content class="has-custom-header">
            <div class="list">
                <div class="item item-divider menuSection">
                    ECHANGE
                </div>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.createAncmt">
                    <i class="icon ion-ios-loop"></i>
                    Proposer un échange
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.ancmts">
                    <i class="icon ion-ios-cart-outline"></i>
                    Offres
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.myAncmts">
                    <i class="icon ion-ios-folder-outline"></i>
                    Mes annonces
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.favAncmts">
                    <i class="icon ion-ios-flag-outline"></i>
                    Annonces suivies
                </a>
                <div class="item item-divider menuSection">
                    EVENEMENTS
                </div>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.events">
                    <i class="icon ion-ios-location-outline"></i>
                    Pres de chez moi
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.createEvent">
                    <i class="icon ion-ios-world-outline"></i>
                    Créer un évenement
                </a>
                <div class="item item-divider menuSection">
                    MON COMPTE
                </div>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ng-click="ctrl.logOut()">
                    <i class="icon ion-power"></i>
                    Déconnexion
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
